<app-menu></app-menu>
<div>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th><button (click) = "sortFn('code')" class = "btn btn-link">Code</button></th>
            <th><button (click) = "sortFn('name')" class = "btn btn-link">Name</button></th>
            <th><button (click) = "sortFn('isNational')" class = "btn btn-link">IsNational</button></th>
            <th><button (click) = "sortFn('sales')" class = "btn btn-link">Sales</button></th>
            <th><button (click) = "sortFn('created')" class = "btn btn-link">Created</button></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let c of custs | searchCustomer:searchCriteria | sort:sortColumn:sortAsc">
            <td>{{c.code}}</td>
            <td>{{c.name}}</td>
            <td>{{c.isNational}}</td>
            <td>{{c.sales | currency}}</td>
            <td>{{c.created | date: 'shortDate'}}</td>
            <td>
                <span>
                    <a routerLink="/cust/detail/{{c.id}}">Detail</a>
                </span>
                <span> | </span>
                <span>
                    <a routerLink="/cust/edit/{{c.id}}">Edit</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a routerLink="/cust/create">Create</a>
</div>
