<app-menu></app-menu>

<div>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th><button (click) = "sortFn('name')" class="btn btn-link">Name</button></th>
            <th><button (click) = "sortFn('stateCode')" class="btn btn-link">StateCode</button></th>
            <th><button (click) = "sortFn('sales')" class="btn btn-link">Sales</button></th>            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let s of sales | searchSalesperson:searchCriteria | sort:sortColumn:sortAsc">
            <td>{{s.name}}</td>
            <td>{{s.stateCode}}</td>
            <td>{{s.sales | currency}}</td>            
            <td>
                <span>
                    <a routerLink="/sp/detail/{{s.id}}">Detail</a>
                </span>
                <span> | </span>
                <span>
                    <a routerLink="/sp/edit/{{s.id}}">Edit</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a routerLink="/sp/create">Create</a>
</div>
