<app-menu></app-menu>
<div>
    <a routerLink="/sp/create">Create</a>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>StateCode</th>
            <th>Sales</th>            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let s of sales">
            <td>{{s.name}}</td>
            <td>{{s.stateCode}}</td>
            <td>{{s.sales | currency}}</td>            
            <td>
                <span>
                    <a routerLink="/sp/detail/{{s.id}}">Detail</a>
                </span>
                <span> | </span>
                <span>
                    <a routerLink="/sp/edit/{{s.id}}">Edit</a>
                </span>
            </td>
        </tr>
    </tbody>
    </table>
