<div>
    <table class="table table-sm">
        <tr>
            <td colspan= "2">Login</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
                <input [(ngModel)]="username" type="text" placeholder="Username">
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input [(ngModel)]="password" type="password" placeholder="Password">
            </td>
        </tr>        
        <tr>
            <td colspan= "2">{{message}}</td>
        </tr>
    </table>
    <td colspan= "2"><button (click)="login()" class="btn btn-primary">Login</button></td>
</div>
